<nav class="grid grid-cols-2 border-b border-teal-800 mb-6">
    <div class="flex justify-start space-x-4 w-full col-start-1">
        <h1 class="px-4 py-2 my-3 text-2xl font-medium text-teal-700">Garden</h1>
    </div>
    <div class="flex justify-end space-x-1 w-full pr-3 col-start-2">
        <NavLink href="/" class="nav-btn-primary">Home</NavLink>
        <NavLink href="/logout" class="nav-btn-primary text-teal-600">Logout</NavLink>
    </div>
</nav>

@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">Garden.Admin</a> *@
@*         <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu"> *@
@*     <nav class="flex-column"> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="oi oi-home" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </div> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="counter"> *@
@*                 <span class="oi oi-plus" aria-hidden="true"></span> Counter *@
@*             </NavLink> *@
@*         </div> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="fetchdata"> *@
@*                 <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data *@
@*             </NavLink> *@
@*         </div> *@
@*     </nav> *@
@* </div> *@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

