@typeparam TItem
@using System.Diagnostics.CodeAnalysis

<table class="@Css table-fixed w-full">
    <thead>
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            if (RowTemplate is not null)
            {
                <tr class="text-center border-2">@RowTemplate(item)</tr>
            }
        }
        @if (ShowLastRow)
        {
            <tr class="text-center border-2">@LastRow</tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public string Css { get; set; } = string.Empty;

    [Parameter]
    public bool ShowLastRow { get; set; }

    [Parameter]
    public RenderFragment? TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }
    
    [Parameter]
    public RenderFragment? LastRow { get; set; }

    [Parameter, AllowNull]
    public IReadOnlyList<TItem> Items { get; set; }
}