@page "/"

@inject TokenService TokenService

<PageTitle>Garden - Home</PageTitle>

<NavMenu />

<div class="max-w-5xl mx-auto">
    <p>Welcome</p>
</div>

@code {
    
    protected override async Task<Task> OnInitializedAsync()
    {
        await TokenService.CheckAuthentication();
        return base.OnInitializedAsync();
    }

}

