@page "/"

@inject NavigationManager Navigation
@inject TokenService TokenService

<PageTitle>Garden - Home</PageTitle>

<NavMenu />

<div class="max-w-5xl mx-auto">
    <p>Welcome</p>
</div>

@code {

    private void Logout()
    {
        Navigation.NavigateTo("/logout");
    }

    protected override async Task<Task> OnInitializedAsync()
    {
        var tokenCheck = await TokenService.CheckTokenAsync();
        if(!tokenCheck) Navigation.NavigateTo("/login", true);
        return base.OnInitializedAsync();
    }

}

