@page "/"
@attribute [Authorize]

@inject NavigationManager Navigation
@inject TokenService TokenService

<PageTitle>Garden</PageTitle>

<NavMenu />

<p>Welcome</p>

@code {

    private void Logout()
    {
        Navigation.NavigateTo("/logout");
    }

    protected override async Task<Task> OnInitializedAsync()
    {
        var tokenCheck = await TokenService.CheckTokenAsync();
        if(!tokenCheck) Navigation.NavigateTo("/login", true);
        return base.OnInitializedAsync();
    }

}

